version: 2.1

orbs:
  win: circleci/windows@5.0.0

jobs:
  # JDK 8 Node 12
  debian-jdk-8-node-16:
    docker:
      - image: openjdk:8
    steps:
      - checkout
      - run:
          name: Install base tools
          command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'
      - run:
          name: Install node
          command: curl -sL https://deb.nodesource.com/setup_16.x | bash - && apt-get update && apt-get install -y nodejs
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test:debug

  # JDK 9 Node 12
  debian-jdk-9-node-18:
    docker:
      - image: openjdk:9
    steps:
      - checkout
      - run:
          name: Install base tools
          command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'
      - run:
          name: Install node
          command: curl -sL https://deb.nodesource.com/setup_18.x | bash - && apt-get update && apt-get install -y nodejs
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test

  # JDK 10 Node 12
  debian-jdk-10-node-18:
    docker:
      - image: openjdk:10
    steps:
      - checkout
      - run:
          name: Install base tools
          command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'
      - run:
          name: Install node
          command: curl -sL https://deb.nodesource.com/setup_18.x | bash - && apt-get update && apt-get install -y nodejs
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test

  # JDK 11 Node 12
  debian-jdk-11-node-18:
    docker:
      - image: openjdk:11.0.16
    steps:
      - checkout
      - run:
          name: Install base tools
          command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'
      - run:
          name: Install node
          command: curl -sL https://deb.nodesource.com/setup_18.x | bash - && apt-get update && apt-get install -y nodejs
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test

  # JDK 12 Node 12
  debian-jdk-12-node-18:
    docker:
      - image: openjdk:12-oracle
    steps:
      - checkout
      - run:
          name: Install base tools
          command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'
      - run:
          name: Install node
          command: curl -sL https://deb.nodesource.com/setup_18.x | bash - && apt-get update && apt-get install -y nodejs
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test

  # No Java & Node latest
  no-java-node-latest:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test:coverage
      - run:
          name: Submitting code coverage to codecov
          command: |
            ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
            curl -s https://codecov.io/bash | bash

  # Java 17 & Node latest
  java-17-node-latest:
    docker:
      - image: circleci/openjdk:17.0.1-buster-node
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test:debug

  # Java 21 & Node latest
  java-21-node-latest:
    docker:
      - image: cimg/openjdk:21.0.5-node
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test:debug

  windows:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Testing
          command: npm run test

# As we use free version of CircleCI, uncomment jobs only if there are some detected issues, else debian-jdk-8/11-node-12 are enough
workflows:
  version: 2
  "java-caller-lint-build-test":
    jobs:
      - debian-jdk-8-node-16
      #         - debian-jdk-9-node-12
      #         - debian-jdk-10-node-12
      #      - debian-jdk-11-node-12
      #         - debian-jdk-12-node-12 JDK12 image not working because of apt-get not found ... TODO: investigate
      - no-java-node-latest
      - java-17-node-latest
      - java-21-node-latest
      - windows
